@page
@model AppMovie.Pages.Foods.IndexModel
@{

}

<div class="card-group">
    <div class="card">
        <img src="https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$ktX5ZYyM/200/200/original?country=ec" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Papas Grandes</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-primary">Ordenar</button>
        </div>
    </div>
    <div class="card">
        <img src="https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$ktXBGlZF/200/200/original?country=ec" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Papas medianas</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-primary">Ordenar</button>
        </div>
    </div>
    <div class="card">
        <img src="https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$ktXnvrdm/200/200/original?country=ec" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Papas pequeñas</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-primary">Ordenar</button>
        </div>
    </div>
</div>

<div class="card-group">
    <div class="card">
        <img src="https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$COCA.png/200/200/original?country=ec" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Coca Cola</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-primary">Ordenar</button>
        </div>
    </div>
    <div class="card">
        <img src="https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$ksX5CenF/200/200/original?country=ec" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jugo de manzana</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-primary">Ordenar</button>
        </div>
    </div>
    <div class="card">
        <img src="https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$kxXxEQ8v/200/200/original?country=ec" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Capuccino</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-primary">Ordenar</button>
        </div>
    </div>
</div>

<div class="card-group">
    <div class="card">
        <img src="https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$bigmac.png/200/200/original?country=ec" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Big MAC</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-primary">Ordenar</button>
        </div>
    </div>
    <div class="card">
        <img src="https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$cuarto-de-libra-con-queso.png/200/200/original?country=ec" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Cuarto de libra con queso</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-primary">Ordenar</button>
        </div>
    </div>
    <div class="card">
        <img src="https://cache-backend-mcd.mcdonaldscupones.com/media/image/product$doble-cuarto-de-libra-con-queso.png/200/200/original?country=ec" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Doble Cuarto de libra con queso</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            <button type="button" class="btn btn-primary">Ordenar</button>
        </div>
    </div>
</div>